#!/bin/sh -xe

DEB_FILE=mysql-apt-config_0.8.29-1_all.deb

wget https://dev.mysql.com/get/$DEB_FILE
echo mysql-apt-config mysql-apt-config/select-server select {{server}} | debconf-set-selections
DEBIAN_FRONTEND=noninteractive dpkg -i $DEB_FILE
