#!/bin/sh -xe

apt update
DEBIAN_FRONTEND=noninteractive apt install -y unzip
curl -fsSL https://deno.land/x/install/install.sh | sh

tee main.ts <<'EOF'
{{main_ts}}
EOF

tee config.json <<'EOF'
{{config_json}}
EOF

tee /etc/systemd/system/pattern.service <<EOF
[Unit]
Description=pattern
After=network.target

[Service]
Type=simple
WorkingDirectory=$PWD
ExecStart=$HOME/.deno/bin/deno run -A main.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target
EOF

systemctl daemon-reload
systemctl enable --now pattern
