#!/bin/sh -xe

wget https://downloads.mysql.com/docs/sakila-db.tar.gz
tar xzf sakila-db.tar.gz

mysql -uroot -p{{mysql_root_password}} <<'EOF'
SOURCE sakila-db/sakila-schema.sql;
SOURCE sakila-db/sakila-data.sql;
EOF
