#!/bin/bash -xe

fallocate -l 1G /swapfile
chmod 600 /swapfile
mkswap /swapfile
swapon /swapfile

dnf install -y epel-release https://dev.mysql.com/get/mysql80-community-release-el7-11.noarch.rpm
dnf config-manager --disable mysql80-community
dnf config-manager --enable mysql-cluster-7.6-community
dnf install -y mysql-cluster-community-server mysql-cluster-community-data-node

mkdir -p /usr/local/mysql/data

tee /etc/my.cnf <<EOF
[mysqld]
ndbcluster
bind-address=0.0.0.0

[mysql_cluster]
ndb-connectstring={{manager.private_ip_address}}
EOF

ndbd
