#!/bin/bash -xe

dnf install -y https://repo.mysql.com/mysql80-community-release-el9-5.noarch.rpm
dnf install -y mysql-community-server

tee /etc/my.cnf.d/project.cnf <<EOF
[mysqld]
bind-address = 0.0.0.0
EOF

systemctl enable --now mysqld

TEMP_PASSWORD=$(grep 'temporary password' /var/log/mysqld.log | awk '{print $NF}')
mysql -uroot -p$TEMP_PASSWORD --connect-expired-password <<EOF
ALTER USER 'root'@'localhost' IDENTIFIED BY '{{mysql_root_password}}';
UPDATE mysql.user SET Host='%' WHERE User='root' AND Host='localhost';
FLUSH PRIVILEGES;
EOF

curl -O https://downloads.mysql.com/docs/sakila-db.tar.gz
tar -xzf sakila-db.tar.gz
mysql -uroot -p{{mysql_root_password}} <<EOF
SOURCE sakila-db/sakila-schema.sql;
SOURCE sakila-db/sakila-data.sql;
EOF
